.container{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 14px;
  border-radius: 10px;
}

.title{
  color: #fff;
  margin-bottom: 18px;
  text-align: center;
}

.formulario{
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

.formulario label{
  display: flex;
  color: #000000;
}

.input{
  margin-bottom: 16px;
  margin-top: 10px;
  width: 100%;
  border: 0;
  padding: 10px;
  background-color: #000000;
  color: #fff;
}

.button{
  width: 100%;
  border: 0;
  font-size: 16px;
  padding: 10px;
  color: black;
  background-color: aquamarine;
  font-weight: 700;
  cursor: pointer;
}

.section{
  width: 100%;
  text-align: center;
  font-size: 20px;
  margin-top: 16px;
}

.section-title{
  color: #fff;
}

.section span{
  background-color: #000000;
  padding: 2px;
}


